rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Admins profile
    match /admins/{adminId} {
      allow read, write: if true;
    }

    // Historique d'activité
    match /activity_logs/{logId} {
      allow read: if true;
      allow create: if request.resource.data.action is string &&
                    request.resource.data.category is string &&
                    request.resource.data.details is string;
      allow update, delete: if false;
    }
  }
}
